<div style="text-align:center;">
  <h1 class="about-title">About</h1>
    <div class="about">
      <h5 class="intro"> I’m a developer who’s passionate about making a <strong>difference</strong>.</h5>

      <p>If you have a project you're working on (or want to start) and need an extra hand, please feel free to reach out to me!</p>

      <div style="padding-bottom: 30px;padding-top: 30px;">
        <a class="my-link" target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/stephen-vancott/"><img src="../Linkedin.png" alt="LinkedIn logo" style="width:50px;height:50px;"></a>
        <a class="my-link" target="_blank" title="My Site" href="http://stevevancott.com"><img src="../chitChat.png" alt="reddit logo" style="width:50px;height:50px;"></a>
        <a class="my-link" target="_blank" title="Github" href="https://github.com/svancott/"><img src="../github-logo.png" alt="github logo" style="width:50px;height:50px;"></a>
      </div>
    </div>

  <p class="about">Thanks for visiting <strong>RedidIt!</strong> Come back soon!</p>
</div>
