<br>
<div class="pull-right" >
  <img src="/reddit.svg" alt="reddit logo" style="padding-right: 200px;"/>
</div>
<div class="jumbotron">
  <div>

    <h1>RedidIt</h1>

    <p>RedidIt is a resource for sharing links with your friends!</p>
    <% if current_user %>
      <p>
        <%= link_to "Check out the Topics!", topics_path %>
      </p>
    <% else %>
      <p>
        <%= link_to "Sign In", new_session_path %> or
        <%= link_to "Sign up", new_user_path, class: 'btn btn-primary' %> today!
      </p>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>RedidIt will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>RedidIt will deliver money and education to thoe in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>RedidIt will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>
